.toasts-wrapper {
    position: absolute;

    bottom: 0;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    overflow: hidden;

    margin-bottom: var(--spacing-s);
}

.my-toast {
    margin-top: var(--spacing-s);

    z-index: 5;
    animation: fadeinout 0.5s linear forwards;
    opacity: 0;
}

@keyframes fadeinout {
    100% {
        opacity: 1;
    }
}
