.toasts-wrapper {
    position: absolute;
    bottom: 20px;
    right: 20px;

    max-height: 25vh;
    overflow: hidden;
}

.my-toast {
    margin-top: var(--spacing-s);
}

.my-toast {
    animation: fadeinout 0.5s linear forwards;
    opacity: 0;
}

@keyframes fadeinout {
    100% {
        opacity: 1;
    }
}
